---
import { formatDateV2 } from "../utils";
const { posts } = Astro.props;
import "../styles/global.css";

posts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---

<ul>
  {
    posts.map((post) => {
      return (
        <div class="logblock">
          <a href={post.url} class="logtitle">
            {post.frontmatter.title}
          </a>
            <div class="logtime">{formatDateV2(post.frontmatter.pubDate)}</div>

        </div>
      );
    })
  }
</ul>
